
body {
box-sizing: border-box;
background-color: hsl(212, 45%, 89%);
text-align: center;
font-family: 'Outfit', sans-serif;
}

.content-box {

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5%;
    width: 270px;
    height: 410px;
    margin: 120px auto;
    background-color: #fff;
    padding: 0.2%;
    padding-bottom: 1.5%;
    box-shadow: 0px 0px 5px 0px rgba(210, 200, 200, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(210, 200, 200, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(210, 200, 200, 0.75);
}

.qr-code {
    margin-top: 3%;
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

h3 {
    margin: 5% 9% 4%;
    color: hsl(218, 44%, 22%);
    font-family: 700;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin: 0% 7% 0%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}